* {
  margin: 0;
  padding: 0;
}

header,
main,
footer,
nav,
aside,
section,
div {
  display: block;
}

html {
  height: 100%;
}

body {
  font-family: "Open sans", sans-serif;
  height: 100%;
  width: 100%;
  background-color:'white',
}

/* ----------------header--------------- */
/* .nav-logo {
  height: 75px;
  width: 90px;
}

.profile {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 2px solid #aaa;
}

.headtext {
  color: black;
  font-size: 37px;
  font-weight: bold;
}

#mainTripsContainer header .navbar {
  background-color: #e3f2fd;
}

#mainList header {
  box-shadow: 2px 2px 12px 0px #aaa;

} */

/* ----------------forms--------------- */

/* form {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 50px auto;
  width: 300px;
}

/* register */
/*.signin-form {
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 600px;
  margin: 50px auto;
  padding: 30px;
  box-sizing: border-box;
}

.signin-title {
  text-align: center;
  margin: 5px;
}

.login-logo {
  display: block;
  margin: 10px auto;
  height: 100px;
  width: 100px;
  background-size: 100px;
}

.form-control,
#submit {
  margin-left: 20px;
}

#from-choose {
  display: flex;
}

.form-inline {
  flex: auto;
  margin-left: 25%;
}

.options {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: bold;
}
.mb-4 {
  margin-top: 60px;
} */
/* ----------------article--------------- */
.MuiDialog-paperWidthSm{
  max-width: 900px;
}
#pageTitle {
  position: absolute;
  display: block;
  margin-top: 20px;
  margin-left: 10px;
  font-family: "Open Sans", sans-serif;
  color: #454f63;
  font-size: 26px;
}

.stretched-link img {
  height: 270px;
}

.join-trip {
  margin-left: auto;
  width: 100px;
  justify-content: space-around;
}

/* ----------------map--------------- */

.leaflet-container {
  width: 600px;
  height: 400px;
}

/* #mapid {
  height: 400px;
  width: 600px;
  margin-top: 30px;
} */
.card-map {
  /* position: absolute; */
  /* left: 800px; */
}
.card-title#tour-guide {
  font-size: 25px;
}
.card-title#tour-city {
  font-size: 35px;
}

.cardd {
  position: absolute;
  width: 38rem;
  left: 95%;
}

#num-tickets {
  margin-left: 10px;
}

#cardSearches {
  max-width: 18rem;
  margin-top: 50px;
}

/* Hooks button */
.button {
  cursor: pointer;
  display: block;
  font-size: 1.3em;
  box-sizing: content-box;
  margin: 20px auto 0px;
  width: 70%;
  padding: 15px 20px;
  border-radius: 24px;
  border-color: transparent;
  background-color: white;
  /* box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.1); */
  box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.08);
  position: relative;
}

#logoutbutton{
  background-color: green;
  width: 30px;
}
.buttonText {
  color: #4285f4;
  font-weight: bolder;
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 0px;
  position: absolute;
  left: 30px;
  align-items: center;
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.locate {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 30px;
  cursor: pointer;
}


/* -----NEw Ariel and Halel */
/* traveler -> results */
.results{
  /* display: flex; */
  justify-content: space-around;
  width: 100%;

}

.results > h3 {
margin-top: 65px;
margin-left:70px;


}

/* #right{
  width: 100%;
  height: 100vh;
  background-position: top right;
  position: fixed;
  top: 79px;
  right: 0;
} */

#left{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
  /* overflow-y: scroll; */
}

/* tour guide -> form */
/* .tripFormBackg{
  background-image: url('./static/dubai.jpg');
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}

.formTG{
  background-color: white;
  width:70%;
  height:200px;
  display: flex;
  justify-content: space-between;
  margin-left: 16%;
  text-align: center;
  border-radius:0.5em;
}

.formTG > button{
  height: 30%;
  width: 150px;
  margin-top: 6%;

}

.formTG > label{
  margin-top: 6%;
  width: 100%;
} */

.inputs {
  width: 100%;
  height: 40px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.labels {
  width: 100%;
  font-size: 19px;
  margin-top: 15px;

}

